<h1>Мои ученики</h1>

<div class="panel panel-default">
 <!-- Default panel contents -->
  <div class="panel-heading"> Лучшие ученики: </div>	
    <!-- Table -->
  <table class="table">
<% @students.each do |student| %>
  <tr>
    <td><%= link_to student.name, student %></td>
    <td><%= student.rating %> </td>
    <td><%= student.birthday %> </td>
    <td><%= student.achievement %> </td>
    	<% if signed_in? %> 
    <td><%= link_to 'Правка', edit_student_path(student) %></td>
    <td><%= link_to 'Удалить', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
  </tr>
<% end %>
</table>
  </table>
</div>
 <%= will_paginate @students %>
<br />
<% if signed_in? %>
<%= link_to 'New Student', new_student_path %>
<% end %>

 


 
