<h1>Скоро</h1>
<% if signed_in? %>
<h4>  <%= link_to 'Создать новое объявление', new_soonevent_path %> </h4> 
<% end %>
<table>
<% @soonevents.reverse.each do |soonevent| %>
  
    <tr> <h4> <%= soonevent.title %> </h4> </tr>
  
    <tr><p> <%= raw safe_textilize(soonevent.content)%> </p>



    		<% if signed_in? %>
    <%= link_to 'Показать', soonevent %> &nbsp
    <%= link_to 'Правка', edit_soonevent_path(soonevent) %> &nbsp
    <%= link_to 'Удалить', soonevent, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp
		<% end %>
  </tr>

<% end %>

</table>

  <%= will_paginate @soonevents %>

