<p id="notice"><%= notice %></p>

<p>
  <b>H1:</b>
  <%= @home.h1 %>
</p>

<p>
  <b>H2:</b>
  <%= @home.h2 %>
</p>

<p>
  <b>Button:</b>
  <%= @home.button %>
</p>

<p>
  <b>Img:</b>
  <%= @home.img %>
</p>


<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
