#encoding: utf-8
<small>by Каташук Владислав</small>
<footer class="footer">
	
	  <nav>
    <ul>

		<li><%= link_to "Об Авторе",   contacts_path %></li>
		<li><%= link_to "Литература",   lit_path %></li>
		<li><%= link_to "Тренерская",   couchroom_path %></li> 
		<li><%= link_to "Погода",    "#" %></li>  
		<li><%= link_to "Плачи Ярославны",   "#" %></li>
		<li><%= link_to "Доска объявлений",  "#" %></li>
		<li><%= link_to "Судейская",  "#" %></li> 
		<li><%= link_to "Сказочки",  "#" %></li>  
    </ul>
  </nav>

  	<%= link_to image_tag("vk.png", size: "28x28"), 'http://vk.com/' %>
	<%= link_to image_tag("fb.png", size: "30x30"), 'http://facebook.com/' %>

</footer>

