#encoding: utf-8
<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="navbar-custom">
	  
    <div class="container">
		
			
      <%= link_to "Cherepov Chess", root_path  , id: "logo" %>
      
      <nav> 
        <ul class="nav pull-right">
          <li><%= link_to "Новости",    newslines_path %></li>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Турнирная <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
				    <li><%= link_to "Турниры",    tournaments_path %></li>
					<li><%= link_to "Скоро",   soonevents_path %></li>
					<li><%= link_to "Путешествия",   trips_path %></li>
              </ul>
            </li>
           <% if signed_in? %>
            <li><%= link_to "Выйти", signout_path, method: "delete" %></li>
            <% else %>
          <li><%= link_to "Вход",    signin_path %></li>
          <% end %>
        </ul>
     
      </nav>
       
    </div>
  
  </div>

</header>
