<!DOCTYPE html>
<html>
<head>
	 <meta name = "keywords" content = "шахматы, chess, Черепов, Чэрапаў, Cherepov, Cherapau, турниры, Мінск, Минск, Mенск, Minsk, Беларусь, Belarus, шахматный тренер, chess couch, индивидуальные занятия шахматами, індывідуальныя заняткі шахматамі" />
  <meta name="description" content="Сайт о шахматах в Минск глазами тренера СДЮШОР11">
  <meta name="author" content="Черепов Алексей Львович">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>CherepovChess</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <%= render 'layouts/shim' %>
</head>
<body >
  <%= render 'layouts/header' %>
  <%= render 'layouts/facebook' %>
    <div class="container">
<%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
